*.egg-info/
build/
temp/
dist/
docs/build/
test/
PKG-INFO
SOURCES.txt
hdg_postprocess.egg-info/
hdg_postprocess.egg-info/SOURCES.txt
*__pycache__*
demos/data/*
.venv*
.vscode
hdg_postprocess/routines/_interpolators_fast.c
hdg_postprocess/routines/_interpolators_fast.*.so
hdg_postprocess/locator.c
hdg_postprocess/locator.*.so
